@model IEnumerable<ShopingCart.Models.ViewModel.PageVM>

@{
    ViewBag.Title = "Index";
}

<h2>Pages</h2>

<p>
    @Html.ActionLink("Create New", "AddPage")
</p>
@if (!Model.Any())
{
    <h3 class="text-center">No Pages</h3>
}
else
{
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                Sidebar
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasSidebar)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPage", new { id=item.Id }) |
                @Html.ActionLink("Details", "PageDetails", new { id=item.Id }) |
                @Html.ActionLink("Delete", "DeletePage", new { id=item.Id })
            </td>
        </tr>
    }

    </table>

}